[tool.poetry]
name = "bhashm"
version = "0.1.0"
description = ""
authors = ["Xu Siyuan <inqb@protonmail.com>"]
license = "MIT"
readme = "Readme.md"
packages = [
    {include = "blivedm", from = "src"},
    {include = "bilibili", from = "src"},
    {include = "blive_dumpraw", from = "src"},
    {include = "blive_saver", from = "src"},
    {include = "bhashm", from = "src"},
]

[tool.poetry.dependencies]
python = "^3.10"
aiohttp = {version = "^3.8.3", extras = ["speedups"]}
aiofiles = "^22.1.0"
aiocsv = "^1.2.3"
rich = "^13.0.0"
pydantic = "^1.10.4"
toml = "^0.10.2"
tinydb = {version = "^4.7.1", optional = true}
tinydb-serialization = {version = "^2.1.0", optional = true}
aiotinydb = {version = "^2.0.0", optional = true}

[tool.poetry.extras]
tinydb = ["tinydb", "tinydb-serialization", "aiotinydb"]

[tool.poetry.dev-dependencies]

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
pytest-cov = "^4.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
